/* Existing styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}

html {
  margin: 0;
  height: 100%;
}

body {
  background-color: #ffffff;
  height: 100%;
  margin: 0;
}


h1 {
  color: #000000;
}

h2 {
  color: #ac1d48;
  display: flex;
  align-items: center;
  padding: 8px;
  
}

.p1 {
  margin-bottom: 20px;
}
.p3 {
  font-size: xx-small;
  color: rgb(66, 66, 66)
}

h3 {
  color: #ac1d48;
  display: flex;
  align-items: center;
  padding: 8px;
}

a {
  width: 51px;
  height: 51px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  padding: 10px;
}

.btn{
  padding: 10px;
}

.btn-primary {
color: blue;
}

.id-input{
  display: flex;
  width: 500px;
  padding: 4px;
  justify-content: center;
  align-items: center;
}
.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 10px;
}
.text-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 20px;
}

.canvas-container {
  width: 400px;
  height: 400px;
  margin: 10px; 
  position: center;
}

.shadow-custom {
  box-shadow: 0 8px 16px 0 rgba(11, 59, 146, 0.2); /* Adjust the color rgba values to match the button color for a consistent glow */
  transition: all 0.3s ease-in-out;
}

.shadow-custom:hover {
  box-shadow: 0 0 12px 0 rgba(24, 87, 168, 0.7); /* Brighter glow on hover */
}

/* Additional styling for centering and aesthetic adjustments */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Use full screen height */
}

.fp-button {
  margin: 5px;
}

.navbar-logo img {
  max-height: 50px;
  margin-left: 60px;
}

.org-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}