/* Reset and general styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #ffffff;
  color: #000000;
}

/* Headings */
h1 {
  color: #000000;
  font-size: 1.5rem; /* Adjust size for mobile */
  text-align: center; /* Center align for mobile */
  margin-bottom: 10px; /* Add space below heading */
}

h2, h3 {
  color: #ac1d48;
  text-align: center; /* Center align for mobile */
  padding: 8px;
}

/* Paragraphs */
.p1 {
  margin-bottom: 20px;
  font-size: 1rem; /* Adjust size for mobile */
}

.p3 {
  font-size: 0.8rem; /* Adjust size for mobile */
  color: #424242; /* Use slightly darker grey for better readability */
  text-align: center; /* Center align for mobile */
}

/* Links */
a {
  display: inline-block; /* Ensure links are block elements for proper spacing */
  width: 100px; /* Adjust size for mobile */
  height: 30px; /* Adjust size for mobile */
  text-align: center; /* Center align text within links */
}

/* Main container */
.main {
  padding: 20px; /* Increase padding for better spacing */
}

/* Buttons */
.btn {
  padding: 10px 20px; /* Increase padding for better touch interaction */
  text-align: center; /* Center align text within buttons */
  margin-bottom: 10px; /* Add space below buttons */
}

/* Form input */
.id-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Occupy full width of the container */
  padding: 10px; /* Increase padding for better spacing */
}

.wider-input, .invalid-format {
  width: 100%; /* Occupy full width of the container */
}

/* Chart and text containers */
.chart-container, .text-container {
  width: 100%; /* Occupy full width of the container */
  padding: 10px; /* Increase padding for better spacing */
}

/* Responsive adjustments */
@media only screen and (min-width: 768px) {
  /* Adjustments for tablets and larger devices */
  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .chart-container, .text-container {
    width: 40%; /* Occupy 40% of the container */
  }
}
